<div class="flex flex-column align-items-center">
    <p-card styleClass="mt-4" [style]="{width:'400px'}">
        <form method="post" [formGroup]="signinForm" (ngSubmit)="handelFormSubmit()">
            <div class="field flex flex-column mt-4">
                <label for="email">Email id</label>
                <p-iconField>
                    <p-inputIcon styleClass="pi pi-at" />
                    <input pInputText class="w-full" type="email" name="email" id="email" formControlName="email">
                </p-iconField>
                <div class="text-sm mt-1" id="email-validation-error"
                    *ngIf="signinForm.controls['email']?.invalid && signinForm.controls['email']?.dirty">
                    <span class="text-red-600" *ngIf="signinForm.controls['email']?.errors?.['required']">Email is
                        required</span>
                    <span class="text-red-600" *ngIf="signinForm.controls['email']?.errors?.['email']">Invalid email
                        id</span>
                </div>
            </div>
            <div class="field flex flex-column relative mt-4">
                <label for="password">Password</label>
                <p-iconField>
                    <p-inputIcon styleClass="pi pi-lock" />
                    <input pInputText class="w-full" type="password" name="password" id="password"
                        formControlName="password">
                </p-iconField>
                <p class="absolute right-0 top-0 mr-1 mt-1 mb-0 cursor-pointer text-xs text-red-400" id="show-btn"
                    (click)="showPassword()">Show
                </p>
                <div class="text-sm mt-1" id="password-validation-error"
                    *ngIf="signinForm.controls['password']?.invalid && signinForm.controls['password']?.dirty">
                    <span class="text-red-600" *ngIf="signinForm.controls['password']?.errors?.['required']">Password is
                        required
                    </span>
                </div>
            </div>
            <div class="flex flex-column">
                <p-button type="submit" label="Submit" severity="info" styleClass="w-full"
                    [disabled]="signinForm.invalid" [raised]="true" [rounded]="true" />
            </div>
        </form>
        <p>Don't have an account? <a routerLink="/sign-up">Sign up</a></p>
    </p-card>
</div>